body {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /*Hide scrollbar*/
  background-Color: '#17171E';
}

/* For WebKit browsers (Chrome, Safari, newer Edge) */
body::-webkit-scrollbar {
  width: 0px;   /* Hide vertical scrollbar */
  height: 0px;  /* Hide horizontal scrollbar */
}

/* For Firefox */
body {
  scrollbar-width: none; /* Hide scrollbar */
}

